# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

/app/generated/prisma
*.db*

# Generated proxy config
docker/proxy/caddy/sites/*.conf
docker/proxy/traefik/dynamic/*.yml
docker/proxy/nginx/sites/*.conf
